.card-list
  width: 100%
  background: var(--main-bg-color)

  &__wrap
    box-sizing: border-box
    margin: 0 auto
    padding: 70px 0
    max-width: 1140px
    display: flex
    flex-direction: column

  &__movies
    width: 100%
    list-style: none
    margin: 0
    padding: 0
    display: grid
    grid-template-columns: 100%
    grid-auto-rows: 134px
    row-gap: 40px

  &__button
    margin: 60px auto 0
    padding: 11px 60px 9px
    width: 100%
    max-width: 320px
    height: 36px
    border: none
    background: var(--additional-bg-color)
    border-radius: 6px
    display: flex
    justify-content: center
    align-items: center
    font-family: 'Inter'
    font-style: normal
    font-weight: 500
    font-size: 12px
    line-height: 1.25
    color: var(--main-text-color)
    cursor: pointer
    transition: opacity 0.3s ease

    &:hover
      opacity: 0.8

@media screen and (max-width: 1200px)
  .card-list
    &__wrap
      margin: 0 30px
      padding: 60px 0 80px

    &__button
      margin: 80px auto 0

@media screen and (max-width: 768px)
  .card-list
    &__wrap
      margin: 0 10px
      padding: 40px 0 80px

    &__button
      margin: 80px auto 0

    &__movies
      margin: 0 auto
      justify-content: center
      grid-template-columns: repeat(2, minmax(220px, 300px))
      grid-auto-rows: 232px
      gap: 20px

    &__button
      margin: 70px auto 0
      padding: 11px 20px 9px
      max-width: 240px

@media screen and (max-width: 500px)
  .card-list__movies
    grid-template-columns: minmax(220px, 300px)
