.title-section
  margin: 0
  padding: 0 0 23px
  width: 100%
  font-family: 'Inter'
  font-style: normal
  font-weight: 400
  font-size: 22px
  line-height: 1.22
  letter-spacing: -0.04em
  color: var(--main-text-color)
  border-bottom: 1px solid var(--main-text-color)
