.promo
  width: 100%
  background: #073042

  &__image
    max-width: 310px
    width: 100%
    height: auto
    object-fit: cover
    position: absolute
    top: 75px
    right: 0

  &__wrap
    box-sizing: border-box
    margin: 0 auto
    padding: 75px 0
    max-width: 1140px
    position: relative

  &__title
    width: 100%
    max-width: 640px
    margin: 0 0 36px
    padding: 0
    font-family: 'Inter'
    font-style: normal
    font-weight: 400
    font-size: 50px
    line-height: 1.16
    color: var(--main-text-color)

  &__subtitle
    width: 100%
    max-width: 310px
    margin: 0 0 146px
    padding: 0
    font-family: 'Inter'
    font-style: normal
    font-weight: 400
    font-size: 13px
    line-height: 1.23
    color: var(--main-text-color)
    mix-blend-mode: normal
    opacity: 0.5

  &__button
    padding: 10px 20px
    background: transparent
    border: 1px solid #ffffff99
    border-radius: 3px
    font-family: 'Inter'
    font-style: normal
    font-weight: 500
    font-size: 12px
    line-height: 1.33
    display: flex
    align-items: center
    justify-content: center
    color: var(--main-text-color)
    cursor: pointer
    transition: opacity 0.3s ease

    &:hover
      opacity: 0.8
