.techs
  width: 100%
  background: #272727

  &__wrap
    box-sizing: border-box
    margin: 0 auto
    padding: 100px 0
    max-width: 1140px

  &__details
    display: flex
    flex-direction: column
    align-items: center
    margin: 90px 0 0

  &__title
    width: 100%
    max-width: 600px
    margin: 0 0 26px
    padding: 0
    font-family: 'Inter'
    font-style: normal
    font-weight: 400
    font-size: 50px
    line-height: 1.16
    text-align: center
    letter-spacing: -0.04em
    color: var(--main-text-color)

  &__subtitle
    width: 100%
    max-width: 460px
    margin: 0 0 100px
    padding: 0
    font-family: 'Inter'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 1.43
    text-align: center
    letter-spacing: -0.04em
    color: var(--main-text-color)

  &__list
    width: 100%
    max-width: 690px
    list-style: none
    margin: 0
    padding: 0
    display: grid
    justify-content: center
    align-items: ce
    grid-template-columns: repeat(7, 90px)
    grid-auto-rows: 60px
    gap: 10px

  &__item
    display: flex
    justify-content: center
    align-items: center
    background: var(--secondary-elements-color)
    border-radius: 10px
    font-family: 'Inter'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 1.21
    text-align: center
    letter-spacing: -0.04em
    color: var(--main-text-color)

@media screen and (max-width: 1200px)
  .techs
    &__wrap
      margin: 0 50px
      padding: 90px 0

    &__details
      margin: 80px 0 0

    &__title
      margin: 0 0 17px

    &__subtitle
      margin: 0 0 83px
      font-size: 12px
      line-height: 1.5

    &__list
      max-width: 648px
      grid-template-columns: repeat(auto-fit, minmax(84px, max-content))
      grid-auto-rows: 57px

    &__item
      font-size: 12px
      line-height: 1.25

@media screen and (max-width: 768px)
  .techs
    &__wrap
      margin: 0 18px
      padding: 70px 0

    &__details
      margin: 60px 0 0

    &__title
      margin: 0 0 24px
      font-size: 30px
      line-height: 1.2

    &__subtitle
      margin: 0 0 50px
      font-size: 11px
      line-height: 1.45
